version: '3.8'

services:
  youtube-downloader:
    build: .
    container_name: youtube-downloader
    ports:
      - "3000:3000"
    restart: always
    volumes:
      - ./downloads:/app/downloads
    environment:
      - NODE_ENV=production
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: always
    command: tunnel run
    environment:
      - TUNNEL_TOKEN= eyJhIjoiYmY3ZWQxNjMzYTkwOGMxMjYyMDdhZDM5MWY4MGM5N2YiLCJ0IjoiM2M1ODUyZTQtZjE3Zi00MDE0LTk2MTAtYjdjYjk0NGExZGNkIiwicyI6IlkyWXlOV1ppT1RNdFlUTmlOUzAwTWpnMkxUZzNNelV0WWpkaVlUaGxaV00yWW1VNSJ9
    depends_on:
      - youtube-downloader
